/*
 *  Login form component
 *  (see inc/login.inc for login form alteration)
 * --------------------------------------------------*/

// Variables
// -------------------------
//text
@pxl-login-btn-color: @text-color;
@pxl-login-btn-hover-color: #fff;
@pxl-login-link-color: @text-color;
@pxl-login-link-hover-color: @pxl-login-link-color;
//gradients
//@pxl-login-gradient-top: #2698f2;
//@pxl-login-gradient-bottom: darken(@pxl-login-gradient-top, 20%);
//@pxl-login-gradient-2-top: #a70014;
//@pxl-login-gradient-2-bottom: darken(@pxl-login-gradient-2-top, 20%);


// Mixins
// -------------------------
.submit-btn() {
  &:extend(.btn-lg);
  padding: 13px 16px 10px;
  border: none;
  #pxl-mixins.border-radius(0);
  color: white;
  background: @pxl-login-btn-color;
  #pxl-mixins.font-size-responsive(@font-size-base);
  letter-spacing: 0.05em;
  #pxl-mixins.transition(opacity 100ms ease-in-out);

  &:hover {
    color: @pxl-login-btn-hover-color;
    text-decoration: none;
    opacity: 0.6;
  }
}




// General form settings
// -------------------------
#user_register_form,
#user_login_form,
#user-create-account,
#user_pass_form {
  clear: both;
  float: none;
  width: auto;
}

/* User login page */
form#user-login, #user-login-form {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: @paragraph-max-width;
  border: none;

  .form-control {
    margin: 0;
    padding: @padding-form-input;
    height: @pxl-form-control-height;
    //max-width: @pxl-form-control-width;
    font-family: @pxl-text-font;
    font-size: @font-size-base;
    color: @text-color;
    border: none;
    border-bottom: @line-weight solid @text-color;
    #pxl-mixins.border-radius(0);
    #pxl-mixins.box-shadow(none);
    background-color: @fieldset-bg-color;
    .placeholder(@text-color-placeholder);
    #pxl-mixins.transition(color 100ms ease-in-out);
    #pxl-mixins.transition(background-color 100ms ease-in-out);

    &:hover {
      color: @pxl-color-gray;
      border-color: @pxl-color-gray;
      background-color: @form-hover-bg-color;
    }
    &:focus {
      border-radius: 3px;
      //padding: 5px 7px 8px;
      //padding-left: -2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
      border: 1px solid #66afe9;
      background-color: white;
      color: @text-color;
    }
  }
}

/* Labels */
.control-label {
  letter-spacing: @text-spacing;
}

/* account register form */
#user-create-account {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 2em;
  width: 100%;

  @media @normal {
    padding: 2em;
    width: 50%;
  }

  .form-actions-wrapper {
    position: relative;
    padding: 1em 0 0;
  }

  .login-register {
    .submit-btn;
    display: inline-block;
    position: absolute;
    right: 0;
    vertical-align: middle;
    margin: 0;
  }

}

/* user login form */
#user_login_form {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: none; //1px solid @hr-border;

  @media @normal {
    padding: 0;
    width: 50%;
    border: 0;
    border-right: none; //1px solid @hr-border;
  }

  .form-actions-wrapper {
    position: relative;
    padding: 1em 0 0;

    .form-actions {
      display: inline-block;
      position: absolute;
      right: 0;
      vertical-align: middle;
      margin: 0;

      .btn {
        .submit-btn();

        &:hover {
        }
      }
    }

    .login-password {
      display: inline-block;
      margin:  0.5em 0;
      color: @pxl-login-link-color;

      &:hover {
        color: @pxl-login-link-hover-color;
        text-decoration: underline;
      }
    }
  }

}

/* User register / password forms */
#user-register-form,
#user-pass {
  display: inline-block;
  max-width: 40em;
  vertical-align: top;
  margin: 1em 0;

  .form-actions {
    margin-top: 2em;

    .back-to-login {
      float: left;
      margin: 0;

      .login-account {
        display: inline-block;
        margin-top:  0.5em;
        color: @pxl-login-link-color;

        &:hover {
          color: @pxl-login-link-hover-color;
          text-decoration: underline;
        }
      }

      &:before {
        display: inline;
        font-family: "fontawesome";
        content: '\f112';
        color: @pxl-login-link-color;
        text-align: center;
        padding: 0.3em;
      }
    }

    .btn {
      .submit-btn;
      float: right;
    }
  }
}

