/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-max-width: 960px;
@paragraph-margin-bottom: 20px;


// Mixins
// -------------------------
.paragraph-title () {
  font-family: @pxl-text-font;
  #pxl-mixins.font-size-responsive(82px, 37px);
  letter-spacing: 0.02em;
  line-height: 1;
  color: @text-color;

  @media @normal {
    line-height: 2.5;
  }
}

.paragraph-subtitle () {
  margin: 20px 0 10px;
  padding: 0;
  font-family: @pxl-text-font;
  #pxl-mixins.font-size-responsive(46px, 28px);
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: @text-color;
}

.paragraph-item-title () {
  margin: 20px 0 10px;
  padding: 0;
  font-family: @pxl-text-font-bold;
  letter-spacing: 0.02em;
  text-transform: none;
  color: @text-color;
  line-height: 1.2;
  #pxl-mixins.font-size-responsive(28px, 23px);
}



// General settings
// -------------------------
.node.node-page.view-mode-full {
  margin: 30px 0;

  >.row {
    >div.col-sm-12 {
      width: 100%;

      >.field-name-title {
        h2 {
          .paragraph-title();
        }
      }

      >.field-name-body {
        margin: 0 0 20px;
        #pxl-mixins.wysiwyg-body(16px);
      }

      >.paragraphs-items {
        .field-name-field-paragraphs {
            //margin: 0 auto;

            // see paragraph-item-... less files
        }
      }

    }
  }
}


.node.node-page.view-mode-teaser {
  // list of pages in front page
  cursor: pointer;
  margin: 30px 0;
  opacity: 1.0;
  #pxl-mixins.transition(opacity 300ms ease-in-out);

  &:hover {
    opacity: 0.6;
  }

  >.row {
    >div.col-sm-12 {
      >.field-name-title {
        float: none;
        width: 100%;
        #pxl-mixins.transition(width 250ms ease-in-out 50ms);

        .field-item {
          display: inline-block;
          width: 100%;
          height: 46px;

          h2 {
            display: inline-block;
            .paragraph-subtitle();
            margin: 0;
            padding-right: 30px;
            background-color: white;
          }

        }
      }

      >.field-name-body {
        margin-left: 0;
        padding-top: 10px;
        width: 100%;
        #pxl-mixins.wysiwyg-body(16px);
        #pxl-mixins.transition(margin 300ms ease-in-out 0s);
      }

      @media @special-break {
        // add arrow as background
        >.field-name-title {
          .field-item {
            background: white url(../images/pfeil_schaft.png) repeat-x left center;

            &:after {
              content: '';
              display: inline-block;
              float:right;
              margin-left: 0;
              height: 46px;
              width: 20px;
              background: white url(../images/pfeil_top.svg) no-repeat left center;
            }
          }
        }

        >.field-name-body {
          margin-left: 60px;
          width: 410px;
        }
      }
      @media @wide {
        >.field-name-title {
          float: left;
          width: 54%;
        }

        >.field-name-body {
          margin-left: 57%;
        }
      }
    }
  }
}
