/*
 *  User profile component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-text-inverted: #ddd;
@paragraph-offset: 12.5px;


// Mixins
// -------------------------



// General settings
// -------------------------


// User Profile in Member List
.user-profile {
  letter-spacing: 0.06em;

  .row {
    .col-sm-4, .col-sm-8, .col-sm-12 {
      font-family: @pxl-text-font;
      color: @pxl-text-inverted;
      padding-left: 7.5px;
      padding-right: 7.5px;

      .field-name-ds-user-picture {
        margin-bottom: 25px;
      }

      .group-address {
        margin-bottom: 25px;

        @media @normal {
          margin-bottom: 60px;

        }

        .group-adresse, .group-contact {
          padding-top: @paragraph-offset;

          @media @normal {
            //margin-bottom: 60px;
          }
        }
      }


      .field-name-field-area-of-expertise {
        margin-bottom: 25px;

        @media @normal {
          margin-bottom: 60px;
        }

        .field-item {
          display: block;
        }
        .field-label {
        padding-bottom: @paragraph-offset;

        }
      }

      .field-name-field-company {
        .field-item {

        }
      }

      .field-name-field-address {

        .field-item {
        }
      }

      // Zwei Felder auf einer Zeile darstellen
      .field-name-field-first-name, .field-name-field-plz {
        display: inline-block;
        margin-right: 0.3em;

        .field-item {

        }
      }

      .field-name-field-last-name, .field-name-field-location {
        display: inline-block;
        .field-item {

        }
      }

      .field-name-field-e-mail {
        .field-item {
          a {
            color: @pxl-text-inverted;
            text-decoration: none;

            &:hover {
              color: @pxl-color-main;
              text-decoration: none;
            }
          }
        }

      }.field-name-field-website {
        .field-item {
          a {
            color: @pxl-text-inverted;
            text-decoration: none;

            &:hover {
              color: @pxl-color-main;
              text-decoration: none;
            }
          }
        }
      }

      .field-name-field-phone {
        .field-item {

        }
      }

      .field-name-field-image {
        margin-bottom: 25px;
        .field-item {

        }
      }

      .field-name-field-short-description {
        margin-bottom: 25px;
        .field-item {
          #pxl-mixins.wysiwyg-body(16px);
        }
      }
    }

    .col-sm-4 {
      padding-left: 7.5px;
    }
  }
}

// User Profile standalone
body.page-user {
  .main-container {
    .container-fluid {
      padding: 40px 10px 60px;
      max-width: @container-desktop;
      .row {
        margin: 0 -@grid-gutter-width/2;
        padding: 0 @grid-gutter-width/2;

        @media @collapse-break {
          margin: 0 -@grid-gutter-width;
          padding: 0 @grid-gutter-width;
        }

        .col-sm-12 {

          .page-header {
            .paragraph-title();
            margin: 0 -@grid-gutter-width/4;
            border: none;
            line-height: 0.95;

            @media @collapse-break {
              margin: 0 -@grid-gutter-width 30px;
              line-height: 0.95;
            }
          }

          .region-content {
            .user-profile {
              letter-spacing: @text-spacing;

              .row {
                //margin: 0;
                padding: 0;

                .col-sm-4, .col-sm-8, .col-sm-12 {
                  font-family: @pxl-text-font;
                  color: @text-color;

                  a {
                    color: @text-color;
                    &:hover {
                      @media @normal {
                        color: @pxl-color-red;
                      }
                    }
                  }
                }
              }
            }
            // Password reset page
            form#user-pass-reset {
              .btn {
                .resp-submit-button();
              }
            }
          }
        }
      }
    }
  }
}