/*
 *  View members component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-form-control-height-mobile: 44px;
@pxl-form-control-height: 36px;
@pxl-form-control-width-mobile: 100%;
@pxl-form-control-width: 200px;

// Mixins
// -------------------------



// General settings
// -------------------------
.view.view-members {
  margin-bottom: 15px;
  .view-filters {
    max-width: @paragraph-max-width;
    margin: 0 auto;

    .views-exposed-form {
      .views-exposed-widgets {
        margin-bottom: 30px;

        .views-exposed-widget {
          display: block;
          float: none;
          margin: 0;
          padding: 0;
          vertical-align: top;

          &:first-child {
            margin-left: 0;
          }

          label, .description {
            display: none;
            margin: 0;
          }

          @media @tablet {
            display: inline-block;
            margin: 0 10px;
          }

          .form-item {
            @media @normal {
              min-width: 200px;
            }
            .control-label {
              display: none;
            }

            .form-control {
              margin: 0;
              //padding: 0;
              height: @pxl-form-control-height-mobile;
              max-width: @pxl-form-control-width-mobile;
              font-family: @pxl-text-font;
              font-size: @font-size-base;
              color: @text-color;
              border: none;
              border-bottom: 1px solid @text-color;
              letter-spacing: @text-spacing;
              line-height: @pxl-form-control-height-mobile;
              #pxl-mixins.border-radius(0);
              #pxl-mixins.box-shadow(none);
              .placeholder(@text-color-placeholder);

              @media @tablet {
                //padding: 6px 12px;
                height: @pxl-form-control-height;
                max-width: @pxl-form-control-width;
                line-height: @pxl-form-control-height;
              }
            }

            .form-select {
              // see chosen.less for select styling
            }
          }

          //&.views-widget-filter-field_area_of_expertise_tid, &.views-widget-filter-field_region_tid {
          //  display: block;
          //}
          //@media @tablet {
          //  &.views-widget-filter-field_area_of_expertise_tid, &.views-widget-filter-field_region_tid {
          //    display: inline-block;
          //  }
          //}

        }

        .views-submit-button {
          button.form-submit {
            display: block;
            overflow: hidden;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            width: 45px;
            height: @pxl-form-control-height;
            text-indent: 100%;
            border: none;
            #pxl-mixins.border-radius(0);
            background: url(../images/icon_search.svg) no-repeat center center / 60%;

            @media @tablet {
              display: inline-block;
              margin: 0;
              padding: 0;
            }

            &:hover {
              background: url(../images/icon_search_hover.svg) no-repeat center center / 60%;
            }
          }
        }
      }
    }
  }

  .view-content {
    .panel-group {
      #pxl-mixins.panel-group();
    }
  }
}
