/*
 *  Content section (main content)
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// Main settings
// -------------------------
footer.container, footer.container-fluid {
  margin-top: 150px;
  padding-bottom: 50px;
  border: none;


  .region-footer {
    .node.node-footer {
      .content {
        .field-name-body {

        }
      }
    }
  }

}
